802_tei_odd/featuredb.odd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml"
	schematypens="http://purl.oclc.org/dsdl/schematron"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>WIBARAB FeatureDB TEI Customization</title>
            <author>Charly Mörth</author>
            <author>Daniel Schoper</author>
            <author>Ana Iriarte Diez</author>
         </titleStmt>
         <publicationStmt>
            <publisher>Austrian Centre for Digital Humanities and Cultural Heritage</publisher>
            <date>2022</date>
            <availability>
               <licence>CC BY 4.0</licence>
            </availability>
         </publicationStmt>
         <sourceDesc>
            <p>This is a born digital document.</p>
         </sourceDesc>
      </fileDesc>
      <revisionDesc>
         <change>Set up document outline; first draft of Part 1 (functional requirements).</change>
      </revisionDesc>
   </teiHeader>
   <text>
      <body>
         <head>WIBARAB Feature DB: Functional requirements and Data Specification </head>
         <div>
            <head>Part I: Functional Requirements of <name>WIBARAB Feature DB</name></head>
            <p>This purpose of this TEI customization is to formalize the data structures needed to
               implement the WIBARAB Feature DB application. Thus, we start with a brief
               introduction into the most important functionalities which the application is
               expected to provide.</p>
            <p>
               <list type="ordered">
                  <item><hi rend="bold">Linguistic features and vernaculars as main entities:</hi>
                     From an user's point of view, the main entities of concern are select
                     linguistic features and how they are realized in the vernaculars in question.
                     Thus, theoretically, there will be one <soCalled>record</soCalled> in the
                     database for each combination of feature × vernacular. The user will be able to
                     look at the data from both perspectives: List and </item>
                  <item>Comparison </item>
               </list>
            </p>
         </div>
         <div>
            <head>Part II: Data Model</head>
         </div>
         <div>
            <head>Part III: Formal Specification</head>
            <schemaSpec ident="featuredb" prefix="tei_" start="TEI" xml:lang="en" defaultExceptions="https://id.acdh.oeaw.ac.at/langDesc http://www.tei-c.org/ns/1.0 teix:egXML">
               <moduleRef key="core" exclude="addrLine address author bibl cit date editor email foreign gap head imprint item label list listBibl measure measureGrp mentioned monogr note num p pb postBox postCode ptr pubPlace publisher quote ref resp respStmt rs series street term title unclear unit"/>
               <moduleRef key="tei"/>
               <moduleRef key="header" include="abstract appInfo application availibility catDesc catRef category change classCode classDescl correspAction correspContext correspDesc creation distributor edition editionStmt encodingDesc extent fileDesc funder geoDecl hyphenation keywords langUsage language licence listChange listPrefixDef namespace normalization notesStmt prefixDef principal profileDesc projectDesc publicationStmt punctuation quotation ref revisionDesc samplingDecl seriesStmt sourceDesc sponsor stdVals taxonomy teiHeader textClass titleStmt unitDecl unitDef"/>
               <moduleRef key="corpus"/>
               <moduleRef key="textstructure"/>
               <moduleRef key="namesdates" include="affiliation age birth bloc death district education event faith forename genName geo geogFeat geogName langKnowledge langKnown listEvent listOrg listPerson listPlace location nationality occupation org orgName persName person personGrp place placeName population region residence settlement socecStatus state surname trait"/>
               <!--<moduleRef key="fs"/>
               <moduleRef key="analysis"/>-->
               
               <elementSpec ident="listFeatureValues" mode="add" ns="https://id.acdh.oeaw.ac.at/langDesc">
                  <gloss>Feature Value List</gloss>
                  <desc>lists possible values a feature can be realised</desc>
                  <classes>
                     <memberOf key="model.divTop"/>
                  </classes>
                  <content>                     
                     <elementRef key="featureValue" minOccurs="2" maxOccurs="unbounded"/>
                  </content>
                  <attList>
                     <attRef class="att.global" name="xml:id"/>
                  </attList>
               </elementSpec>
               
               <elementSpec ident="personGrp" mode="change">
                  <classes mode="change">
                     <memberOf key="att.typed"/>
                  </classes>
               </elementSpec>
               
               <elementSpec ident="featureValue" mode="add" ns="https://id.acdh.oeaw.ac.at/langDesc">
                  <gloss>feature value</gloss>
                  <desc>describes one feature value</desc>
                  <content>
                     <sequence>
                        <elementRef key="name" minOccurs="1"/>
                        <elementRef key="p" minOccurs="1" maxOccurs="unbounded"/>
                        <alternate>
                           <elementRef key="note" minOccurs="0" maxOccurs="unbounded"/>
                           <elementRef key="cit" minOccurs="0" maxOccurs="unbounded"/>
                           <elementRef key="fs" minOccurs="0" maxOccurs="1"/>
                        </alternate>
                     </sequence>
                  </content>
                  <attList>
                     <attRef class="att.global" name="xml:id"/>
                  </attList>
               </elementSpec>
               
               <elementSpec ident="featureValueObservation" mode="add" ns="https://id.acdh.oeaw.ac.at/langDesc">
                  <gloss>feature value observation</gloss>
                  <desc>contains data gathered by a source when observing a given feature</desc>
                  <classes>
                     <memberOf key="model.divLike"/>
                     <memberOf key="att.global" exclude="att.global.linking att.global.analytic att.global.facs att.global.rendition"/>
                  </classes>
                  <content>
                     <sequence>
                        <elementRef key="biblScope" minOccurs="0" maxOccurs="unbounded"/>
                        <elementRef key="settingDesc" maxOccurs="1" minOccurs="0"/>
                        <elementRef key="particDesc" maxOccurs="1" minOccurs="0"/>
                        <elementRef key="usg" minOccurs="0" maxOccurs="unbounded"/>
                        <elementRef key="cit" minOccurs="0" maxOccurs="unbounded"/>
                        <elementRef key="note"/>
                     </sequence>
                  </content>
                  <attList>
                     <attDef ident="fVRef" mode="add" usage="req">
                        <gloss>feature value reference</gloss>
                        <desc>points to one item in a <gi>listFeatureValues</gi>.</desc>
                        <datatype>
                           <dataRef key="teidata.pointer"/>
                        </datatype>
                     </attDef>
                  </attList>
               </elementSpec>
            </schemaSpec>
         </div>
      </body>
   </text>
</TEI>
