802_tei_odd/vicav_geodata.odd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml"
	schematypens="http://purl.oclc.org/dsdl/schematron"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>VICAV Geolocations TEI customization</title>
                <principal>
                    <name type="person" ref="dmp:SP">Stephan Procházka</name>
                </principal>
                <author>
                    <name type="person" ref="dmp:KS">Kinga Sramó</name>
                    <name type="person">Daniel Schopper</name>
                </author>
            </titleStmt>
            <publicationStmt>
                <publisher>Austrian Centre for Digital Humanities and Cultural Heritage</publisher>
                <date>2025</date>
                <availability>
                    <licence>CC BY 4.0</licence>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>This is a born digital document.</p>
            </sourceDesc>
        </fileDesc>
        <revisionDesc>
            <change who="#DS" when="2026-04-17">added first draft of documentation part</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <div>
                <head>Documentation</head>
                <p>This document describes the schema of the VICAV geolocations list, which serves
                    as the central gazetteer of all datasets included in VICAV and is referenced
                    from other data types (e.g. profiles or corpus documents).</p>
                <div>
                    <head>Types of entries</head>
                    <p>Each entry in the gazetteer represents either a specific location – e.g.
                        city, village, settlement etc. (encoded as <tag>place type="geo"</tag>) or a
                        broader region – e.g. a valley or district (encoded as <tag>place
                            type="reg"</tag>). A third category called "dialect group area" ...</p>
                </div>
                <div>
                    <head>Names</head>
                    <p>Each entry MUST have exactly one "prefered label" encoded as <tag>placeName
                            type="prefLabel"</tag> which is usually (however not always) an English
                        name for the place. As there can be exceptions to this rule of thumb, we do
                        not claim that this label is in a specific language and thus do not enforce
                        the presence of <att>xml:lang</att>. Usuall name is usually drawn from the
                        English version of Wikipedia.</p>
                    <p>Next to this, an entry can have one or more "alternative labels" where the
                        same logical applies.</p>
                    <p>In most cases, the gazetteer also provides place names in MSA in Arbaic
                        script (<tag>placeName xml:lang="ar" type="standard"</tag>) and/or Latin
                        script (<tag>placeName xml:lang="ar-Ltn" type="standard"</tag>) next to the
                        local vernacular names (<att>type</att> with <val>local</val>), also in
                        Latin or Arabic script.</p>
                </div>
                <div>
                    <head>Geographic Hierarchy</head>
                    <p>Both the geographic superordinate units as well as the geocoordinates of an
                        entry are encoded within a <gi>location</gi> element which is a direct child
                        of <gi>place</gi>.</p>
                    <p>Where needed, entries may contain exactly one <gi>region</gi> element within
                            <gi>location</gi> which represents any kind of a higher-level geographic
                        unit named in English. Usually, these regions are larger administrative
                        units (e.g. governorates), but since the gazetteer has to cover a wide range
                        of diverse countries and their specific administrative sub-structures, there
                        is no claim which kind of unit this should be. If needed, an optional
                            <att>type</att> attribute with a suitable value can be used to make this
                        explicit, however this is neither enforced nor used. These regions are used
                        to structure place lists in the VICAV application, where needed. In case
                        this region is also represented by a "region entry" in the gazetteer, this
                        relation can be expressed using the <att>ref</att> attribute pointing to the
                        respective entry via its <att>xml:id</att>. (NB: Both <att>type</att> nor
                            <att>ref</att> are exploited by the VICAV application.)</p>
                    <p>Each place entry must feature one <gi>country</gi> element within
                            <gi>location</gi> which contains the English name of the sovereign state
                        the place is part of. The mandatory <att>key</att> attribute must provide a
                        two-letter code from <ref
                            target="https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2">ISO 3166</ref>
                        ("Codes for the representation of names of countries and their
                        subdivisions").</p>
                    <p>Two geo elements must provide geographical points both in decimal notation
                            (<tag>geo decls="#dd"</tag>) and degrees/minutes/seconds (<tag>geo
                            decls="#dms"</tag>).</p>
                </div>
                <div>
                    <head>Location</head>
                    <p>We try to provide coordinates for all places in the gazetteer. Due the
                        absence of data which would allow to draw clear isoglosses we also represent
                        regions as points which are chosen by the editors. Provided the different
                            <att>type</att> attribute, such locations can be rendered differently on
                        a map, even if there are no shapes available.</p>
                </div>
                <div>
                    <head>External Identifiers</head>
                    <p>Currently, the VICAV gazetteer only provides identifiers from the "geonames"
                        database (<tag>idno type="geoNames"</tag>.</p>
                </div>
                <div>
                    <head>Notes</head>
                </div>
            </div>
            <div>
                <head>Formal Specification</head>
                <schemaSpec ident="vicav-geodata" start="TEI">
                    <moduleRef key="tei"/>
                    <moduleRef key="header" include="teiHeader fileDesc titleStmt publicationStmt geoDecl listPrefixDef prefixDef sourceDesc encodingDesc revisionDesc change idno"/>
                    <moduleRef key="textstructure" include="TEI text body"/>
                    <moduleRef key="core" include="p note title author respStmt resp name"/>
                    <moduleRef key="namesdates" include="listPlace place placeName location country region geo"/>
                   
                    <elementSpec ident="place" mode="change">
                        <content>
                            <sequence>
                                <elementRef key="placeName" minOccurs="1" maxOccurs="unbounded"/>
                                <elementRef key="location" minOccurs="1" maxOccurs="1"/>
                                <elementRef key="idno" minOccurs="0" maxOccurs="1"/>
                                <elementRef key="note" minOccurs="0" maxOccurs="unbounded"/>
                            </sequence>
                        </content>
                        <attList>
                            <attDef ident="type" mode="replace" usage="req">
                                <valList type="closed">
                                    <valItem ident="geo">
                                        <desc>Geographical location, point</desc>
                                    </valItem>
                                    <valItem ident="reg">
                                        <desc>Region</desc>
                                    </valItem>
                                    <valItem ident="diaGroup">
                                        <desc>Dialect group area</desc>
                                    </valItem>
                                </valList>
                            </attDef>
                            <attDef ident="xml:id" mode="change" usage="req"/>
                        </attList>
                    </elementSpec>
                    <elementSpec ident="placeName" mode="change">
                        <attList>
                            <attDef ident="xml:lang" mode="replace" usage="opt">
                                <valList type="closed">
                                    <valItem ident="ar"/>
                                    <valItem ident="ar-Latn"/>
                                </valList>
                            </attDef>
                            <attDef ident="type" mode="replace" usage="req">
                                <valList type="closed">
                                    <valItem ident="standard"/>
                                    <valItem ident="local"/>
                                    <valItem ident="prefLabel"/>
                                    <valItem ident="altLabel"/>
                                </valList>
                            </attDef>
                        </attList>
                    </elementSpec>
                    <elementSpec ident="location" mode="change">
                        <content>
                            <sequence>
                                <elementRef key="geo" minOccurs="2" maxOccurs="2"/>
                                <elementRef key="region" minOccurs="0" maxOccurs="unbounded"/>
                                <elementRef key="country" minOccurs="1" maxOccurs="1"/>
                            </sequence>
                        </content>
                    </elementSpec>
                    <elementSpec ident="geo" mode="change">
                        <attList>
                            <attDef ident="decls" mode="replace" usage="req">
                                <valList type="closed">
                                    <valItem ident="#dms">
                                        <desc>Degrees, minutes, seconds</desc>
                                    </valItem>
                                    <valItem ident="#dd">
                                        <desc>Decimal degrees</desc>
                                    </valItem>
                                </valList>
                            </attDef>
                        </attList>
                    </elementSpec>
                    <elementSpec ident="country" mode="change">
                        <attList>
                            <attDef ident="key" mode="change" usage="req"/>
                        </attList>
                    </elementSpec>
                    <elementSpec ident="idno" mode="change">
                        <attList>
                            <attDef ident="type" mode="replace" usage="req">
                                <valList type="closed">
                                    <valItem ident="geoNames">
                                        <desc>GeoNames identifier</desc>
                                    </valItem>
                                </valList>
                            </attDef>
                        </attList>
                    </elementSpec>
                </schemaSpec>
            </div>
        </body>
    </text>
</TEI>
