802_tei_odd/wibarab_PersonGroup.odd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml"
	schematypens="http://purl.oclc.org/dsdl/schematron"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>WIBARAB person group list TEI customization</title>
                <principal>
                    <name type="person" ref="dmp:SP">Stephan Procházka</name>
                </principal>
                <author>
                    <name type="person" ref="dmp:KS">Kinga Sramó</name>
                </author>
            </titleStmt>
            <publicationStmt>
                <publisher>Austrian Centre for Digital Humanities and Cultural Heritage</publisher>
                <date>2025</date>
                <availability>
                    <licence>CC BY 4.0</licence>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>This is a born digital document.</p>
            </sourceDesc>
        </fileDesc>
    </teiHeader>
    <text>
        <body>
            <div>
                <head>Formal Specification</head>
                <schemaSpec ident="personGroups" start="TEI">
                    <moduleRef key="header" include="teiHeader fileDesc titleStmt publicationStmt sourceDesc encodingDesc revisionDesc change listPrefixDef prefixDef"/>
                    <moduleRef key="core" include="author p title note name head respStmt resp desc"/>
                    <moduleRef key="textstructure" include="TEI body text"/>
                    <moduleRef key="tei"/>
                    <moduleRef key="namesdates" include="personGrp listPerson residence placeName relation"/>
                    <elementSpec ident="personGrp" mode="change">
                        <content>
                            <sequence>
                                <elementRef key="name" minOccurs="1" maxOccurs="unbounded"/>
                                <elementRef key="residence" minOccurs="0" maxOccurs="1"/>
                                <elementRef key="note" minOccurs="0" maxOccurs="unbounded"/>
                            </sequence>
                        </content>
                        <attList>
                            <attDef ident="role" mode="change">
                                <valList type="closed">
                                    <valItem ident="ageGroup"/>
                                    <valItem ident="firstLanguage"/>
                                    <valItem ident="gender"/>
                                    <valItem ident="religion"/>
                                    <valItem ident="tribe"/>
                                    <valItem ident="confederation"/>
                                </valList>
                            </attDef>
                        </attList>
                    </elementSpec>
                    <elementSpec ident="placeName" mode="change">
                        <content>
                            <empty/>
                        </content>
                        <attList>
                            <attDef ident="ref" mode="change" usage="req"/>
                        </attList>
                    </elementSpec>
                    <!-- Might need other note types, for now we only have "general" -->
                    <elementSpec ident="note" mode="change">
                        <content>
                            <alternate minOccurs="0" maxOccurs="unbounded">
                                <textNode/>
                                <classRef key="model.phrase"/>
                            </alternate>
                        </content>
                        <attList>
                            <attDef ident="type" mode="change">
                                <valList type="closed">
                                    <valItem ident="general"/>
                                </valList>
                            </attDef>
                        </attList>
                    </elementSpec>
                    <elementSpec ident="listPerson" mode="change">
                        <content>
                            <sequence>
                                <elementRef key="head"/>
                                <alternate minOccurs="1" maxOccurs="unbounded">
                                    <elementRef key="personGrp"/>
                                    <elementRef key="relation"/>
                                </alternate>
                            </sequence>
                        </content>
                    </elementSpec>
                    <!-- "tribe" specific constraints -->
                    <constraintSpec ident="tribe-residence" scheme="schematron">
                        <constraint>
                            <sch:rule xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                                context="tei:personGrp[@role='tribe']">
                                <sch:assert test="tei:residence">Tribe personGrp elements must
                                    contain a residence element.</sch:assert>
                            </sch:rule>
                        </constraint>
                    </constraintSpec>

                    <constraintSpec ident="placeName-ref-resolves" scheme="schematron">
                        <constraint>
                            <sch:rule xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                                context="tei:placeName[@ref[starts-with(., 'geo:')]]">
                                <sch:let name="geoId" value="substring-after(@ref, 'geo:')"/>
                                <sch:let name="geoDoc"
                                    value="resolve-uri('vicav_geodata.xml', base-uri(/))"/>
                                <sch:assert
                                    test="doc-available($geoDoc) and exists(id($geoId, doc($geoDoc)))"
                                    > The reference '<sch:value-of select="@ref"/>' does not
                                    resolve: no place with xml:id='<sch:value-of select="$geoId"/>'
                                    found in vicav_geodata.xml. </sch:assert>
                            </sch:rule>
                        </constraint>
                    </constraintSpec>
                </schemaSpec>
            </div>
        </body>
    </text>
</TEI>
